<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/underscore.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/backbone.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/backbone.offline.js"></script>
    <script type="text/javascript" src="/javascripts/app.js"></script>
  </body>
</html>