#application {
  padding-top: 60px;
}

.nav-collapse .nav > li > a:hover, .nav-collapse .nav > li.active > a {
  color: #f2f2f2;
}

caption h3 {
  display: inline-block;
}

td.right-align {
  text-align: right;
}

.menu-wrapper {
  float: right;
  min-width: 125px;
}

.hidden-cell {
  display: none;
  position: absolute;
}

table tr:hover .hidden-cell {
  display: inline-block;
}

.sidebar-wrapper {
  position: fixed;
  top: 43px;
  bottom: 0;
}

caption a {
  float: left;
  margin-top: 14px;
}
